<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browsers" value="chrome"></parameter>
    <classes>
      
      
      <class name="DetailsOfAmazon.Website.TestCase5_SearchForProduct"/>
      
      <class name="DetailsOfAmazon.Website.Testcase1_Registration"/>
      
      <class name="DetailsOfAmazon.Website.Testcase2_ValidCredentials"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
